.weather-widget {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}

.extra-info-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.location-date-box {
    display: flex;
    flex-direction: column;
}

.weather-icon-box {
    display: flex;
    flex-direction: column;
}

.temperature-text {
    font-size: 7rem;
    font-weight: 400;
    padding-right: 1.5rem;
}

.location-text {
    font-size: 2.6rem;
}

.extra-text {
    font-size: 1rem;
}


/* Small devices (portrait tablets and large phones, 768px and down) */

@media only screen and (max-width: 768px) {
    .weather-widget {
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
    }
}