.weather-widget {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}

.extra-info-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.location-date-box {
    padding: 0rem 1.5rem;
    display: flex;
    flex-direction: column;
}

.weather-icon-box {
    display: flex;
    flex-direction: column;
}

.temperature-text {
    font-size: 7rem;
    font-weight: 400;
}

.location-text {
    font-size: 2.6rem;
}

.extra-text {
    font-size: 1rem;
}